[submodule "submodules/love"]
	path = submodules/love
	url = https://github.com/love2d/love.git
[submodule "submodules/Simple-Tiled-Implementation"]
	path = submodules/Simple-Tiled-Implementation
	url = https://github.com/karai17/Simple-Tiled-Implementation.git
